<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="basePath">./logs</Property>
    </Properties>

    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH::mm:ss:SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <RollingFile name="File" fileName="${basePath}/automation1.log" filePattern="${basePath}/automation-%d{yyyy-MM-DD}">
        <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} -%msg%n"/>
            <SizeBaseTriggeringPolicy size="5000"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="debug">
<!--            <AppenderRef ref="CONSOLE" level="WARN"/>-->
            <AppenderRef ref="File"/>
        </Root>
        <Logger name="org.example" level="DEBUG">
            <AppenderRef ref="DEBUG_LOG"/>
        </Logger>
    </Loggers>
</Configuration>